<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(%5p) %clr(5028){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n%wex</pattern>
        </encoder>
    </appender>

    <Logger name="logger.org.springframework.core.io.support" level="TRACE" />
    <Logger name="logger.org.springframework.context.annotation" level="TRACE" />
    <Logger name="logger.org.springframework.data.repository.config" level="TRACE" />


    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>